footer {
    padding: 0rem 2rem;
    max-width: 100%;
    background-color: var(--color-sec-300);
}
.footer-container {
    min-height: 22.8125rem;
    max-width: var(--max-container);
    margin: var(--center-container);
}
.footer-decor {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    -moz-box-align: center;
    -moz-box-pack: center;
    justify-content: center;
}
.decor-line {
    height: 0.25rem;
    width: 6.3125rem;
    background-color: var(--color-pry-100);
}
.footer-header {
    flex-direction: row;
    align-items: flex-end;
    -moz-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -moz-box-align: center;
}
.footer-logo-section {
    min-height: 5.75rem;
    align-items: flex-end;
    display: flex;
    -moz-box-align: center;
}
.footer-logo-container a {
    text-decoration: none;
    color: var(--color-pry-300);
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.1rem;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: var(--transition);
}
.footer-nav {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex: 0 0;
}
.footer-nav ul {
    min-height: 0rem;
    flex-direction: row;
    width: 26.6875rem;
    -moz-box-pack: justify;
    justify-content: space-between;
    text-align: center;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
.footer-nav ul li {
    text-transform: uppercase;
    list-style: none;
}
.footer-nav li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footer-body {
    flex-direction: row;
    align-items: flex-end;
    display: flex;
    -moz-box-align: center;
    -moz-box-pack: center;
    justify-content: center;
}
.footer-description {
    min-height: 8.25rem;
    align-items: flex-end;
    display: flex;
    -moz-box-align: center;
    flex: 1 1 0%;
}
.footer-description p {
    text-align: left;
    color: var(--color-sec-500);
}
.footer-social-links {
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
    flex: 1 1 0%;
}
.footer-social-links ul {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 6.5625rem;
}
.footer-social-links ul li {
    list-style: none;
}
.footer-social-links ul li a {
    text-decoration: none;
    color: var(--color-pry-300);
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.1rem;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: var(--transition);
    font-size: 1.5rem;
}
.footer-social-links ul li a:hover {
    transition: var(--transition);
    color: var(--color-pry-100);
}
.footer-footer {
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 5.625rem;
    display: flex;
    -moz-box-align: center;
}
.footer-copyright {
    align-items: flex-end;
    display: flex;
    -moz-box-align: center;
    -moz-box-pack: center;
    justify-content: center;
}
.footer-copyright p {
    font-weight: var(--font-weight-400);
    min-height: 4.5rem;
    color: var(--color-sec-500);
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 670px) and (max-width: 1050px)  {
    .footer-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-nav ul {
        padding: 0;
    }
    .footer-nav ul li {
        margin-left: 0;
    }
    .footer-body {
        flex-direction: column;
    }
    .footer-description {
        min-height: 7.25rem;
    }
    .footer-social-links {
        position: relative;
        top: 100px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 669px) {
    footer {
        box-sizing: border-box;
        margin: 0;
    }
    .footer-decor {
        align-items: center;
    }
    .footer-header {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .footer-logo-section {
        align-items: center;
    }
    .footer-nav ul {
        padding: 0;
        flex-direction: column;
        width: 10rem;
        min-width: 10rem;
    }
    .footer-nav ul li {
        margin-left: 0;
        margin-top: 26px;
    }
    .footer-body {
        flex-direction: column;
    }
    .footer-description {
        min-height: 7.25rem;
    }
    .footer-description p {
        text-align: center;
    }
    .footer-social-links {
        position: relative;
        top: 5rem;
        right: 6.7rem;
    }
    .footer-footer {
        position: relative;
        bottom: 5rem;
    }
}